#body_wrapper {
    margin: 0 auto;
    width: min-content;
    min-width: 500px;
    font-size: 16px;
    font-family: 'Murecho', Helvetica, Arial, Sans-Serif;
    padding-bottom: 50px;
    padding-top: 1px;

}

.align_center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    width: max-content;
    font-size: 2.5em;
    margin: 30px auto 20px auto;
    background: rgb(17, 132, 252);
    background: linear-gradient(147deg, rgba(17, 132, 252, 1) 9%, rgba(251, 23, 72, 1) 55%, rgb(255, 220, 21) 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background: #2b90ee;
    border-radius: 999px;
    box-shadow: #2b90ee 0 10px 20px -13px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    cursor: pointer;
    padding: 8px 18px;
    border: 0;
    display: inline-block;
    margin: 50px 30px 50px 0;
    min-width: 100px;
    width: max-content;
    transition: all .3s ease-in-out;
}

.btn:last-of-type {
    margin-right: 0;
}

button:hover {
    background: #0068ca;
    box-shadow: #0068ca 0 10px 20px -10px;
    transform: scale(1.1);
}

.s-box {
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#slide_box{
    width: min-content;
    min-width: 200px;
    position: absolute;
    background-color: #fff;
    font-family: 'Murecho', Helvetica, Arial, Sans-Serif;
    top: 287px;
}

#x_button{
    border-radius: 50%;
    width: 1em;
    height: 1em;
    padding: 0.5em;
    background-color: #f00;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    /* box-sizing: border-box; */
    text-align: center;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
}
